.app-footer {
  width: 100%;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: hsl(206deg 23% 10%);
  font-size: 0.9rem;
}
